*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
body {
    background-color: lightgray;
}

/*Estilo tabla*/
.imgTabla{
    width: 35%;
    height: 35%;
}

/*Estilos para botones*/
.btnInfo{
    background-color: #2FC7E6 !important;
}
.btnDanger{
    background-color: #BB2D3B !important;
}
.btnWarning{
    background-color: #FFCA2C !important;
}

/*Estilos formulario registro usuario*/
.container{
    display: flex;
    flex-direction: column;
}
.formRegistro{
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnRegistroUsuario{
    border-radius: 200px;
}