body {
    background-color: lightgray;
}

/**
Estilo tabla
 */

.imgTabla{
    width: 35%;
    height: 35%;
}

/**
Estilos para botones
 */

.btnInfo{
    background-color: #2FC7E6 !important;
}
.btnDanger{
    background-color: #BB2D3B !important;
}
.btnWarning{
    background-color: #FFCA2C !important;
}

