body {
    background-color: lightgray;
}

/**
Estilo tabla
 */
.tablePerso{

}
/**
Estilos para botones
 */

.btnInfo{
    background-color: #2FC7E6 !important;
}
.btnDanger{
    background-color: #BB2D3B !important;
}
.btnWarning{
    background-color: #FFCA2C !important;
}

